
html, body {    
  background: url('./burgers.jpg') no-repeat center fixed;     
  background-size: cover;
  overflow-y: auto;
  overflow-x:hidden;

}


.content{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
  }


.middle{
    grid-column: 2/4;
    grid-row: 1/7;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  
}


.header{
  width:100vw;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  font-size: 50px;
}

input{
  background-color: rgba(0,0,0,0.8);
  color: white;
  width:90px; 
  height: 50px;
  font-size: 20px;
}

input:hover{
  transform: scale(1.05);
  background-color: rgba(245, 96, 10, 0.8);
}


.mid-content{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  background-color: rgba(0,0,0, 0.6);
  margin-top: 50px;
  width: 700px;
  height: 100vh;
}

.rest-desc{
  padding: 15px 15px 0px 15px;
  font-size: 25px;
}


.rest-desc, .hours{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

}




.hours{
  padding-top: 30px;
}

li{
  padding-top: 5px;
  font-size: 25px;
}


.rest-desc{
  display: grid;
  grid-template-areas: 
  "a b"
  "c d"
  "e f";
}

.row1{
  grid-area: "a";
}

.row2{
  grid-area: "b";
}

.row3{
  grid-area: "c";
}

.row4{
  grid-area: "d";
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 20PX;
}



.rest-desc-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

}



p{
  border: 1px solid red;
  background-color: rgba(255,255,255, 0.4);
  color: white;
  padding: 20px;
}